# Define reglas de análisis estático para el código Python.
[flake8]

# Carpetas a excluir del análisis
exclude =
    venv,
    __pycache__,
    .git,
    build,
    dist

# Longitud máxima de línea (compatible con Black)
max-line-length = 88

# Reglas ignoradas
# conflicto común con Black (E203)
# salto de línea en operadores (W503)
ignore =
    E203, 
    W503   